html {
  font-family: Arial, sans-serif;
}

header {
  background-color: #0046be;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

header a {
  text-decoration: none;
  color: white;
}

header > ul {
  justify-content: flex-end;
  height: 48px;
  align-items: center;
}

header > ul li {
  margin-left: 16px;
}

header > div:not(.dk-blue) {
  display: flex;
  justify-content: space-between;
}
