html {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  background-color: #0046be;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: white;
}

header > ul {
  justify-content: flex-end;
  height: 48px;
  align-items: center;
}

header > ul li {
  margin-left: 16px;
}

header > div:not(.dk-blue) {
  display: flex;
  justify-content: space-between;
}

header > div > ul:last-of-type {
  flex-basis: 250px;
  display: flex;
  justify-content: space-between;
}



header form input {
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border-radius: 1px;
  border: none;
  background-image: url(../img/magnifying-glass.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center right 5px;
  outline: none;
  margin-left: 2rem;
}

header .dk-blue {
  background-color: #003DA6;
  line-height: 1.5rem;
  padding: 0.5rem 0;
  margin-top: 1rem;
}

header nav {
  width: 30rem;
}
